.mapPage {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.sideBar {
  width: 400px;
  overflow: scroll;
  padding: 1rem;
  background-color: #a67c6d;
}

.mapContainer {
  height: 100%;
  width: 100%;
}
